:root{
    
    /* RED THEME */
        /* --theme_color: #d73333;
        --theme_color__0: #d73333c2;
        --theme_color__00: #d733337a;
        --theme_color__D: #8f0707;
        --theme_color__DD: #700404; */


    /* BLUE THEME */
    --theme_color: #0087a9;
    --theme_color__0: #0087a9c2;
    --theme_color__00: #0087a97a;
    --theme_color__D: #006e89;
    --theme_color__DD: #03738faa;
    
    
    /* GREEN THEME */
    /* --theme_color: #00a903;
    --theme_color__0: #00a903c2;
    --theme_color__00: #00a9037a;
    --theme_color__D: #016703;
    --theme_color__DD: #004e01; */
    
}


@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 16px;
    text-decoration: none;
}

li, button, a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #f9f9f9;
}

body {
    background-color: #0d0d0d;
}

div {
    background-color: brown;
    ;

}
/* 
header {
    background-color: #292929;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    font-size: 1em;
} */

/* LOGO */
#logo {
    background-color: transparent;
    cursor: pointer;
    width: 4rem;
    
}

#logo img {
    border-radius: 50%;

}

#logo-stuff {
    width: 100%;
    object-fit: contain;
}

/* NAVBAR */
/* .nav_buttons {
    list-style: none;
}

.nav_buttons li {
    display: inline-block;
    padding: 0 20px;
}

.nav_buttons li a {
    transition: all 0.3s ease 0s;
}

.nav_buttons li a:hover {
    color: var(--theme_color);
}

.cta button {
    background-color: var(--theme_color);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    background-color: var(--theme_color__0);

} */











/* 
#header-wrapper{
    background-color: aquamarine;
    padding: 5px 2rem;
    height: 2rem;
}
#header{
    height: 100%;
    font-size: 1rem;
    background-color: blue;
    display: flex;
    flex-direction: row;
}
#header div{
    vertical-align: middle;
} */